# Environment configuration for Xtreme Gym
# This file is used to store environment-specific variables

ENVIRONMENT = development
API_URL = http://localhost:4200
STORAGE_KEY = xtremeGymClientes
AUTH_STORAGE_KEY = xtremeGymAuth
